.d-textbox{
  margin-left: 20px;
  position: absolute;
  display: flex;
}

.d-text{
  position: absolute;
  display: flex;
  margin-top: 120px;
  margin-left: 40px;
  font-family: 'Roboto', sans-serif;
  color: rgb(100, 205, 237);
  font-size: 40px;
  font-weight: bold;
  text-decoration: underline;
  width: 400px;
}

.d-backdrop{
  background-color: rgb(245, 245, 245);
  width: 460px;
  height: 490px;
  margin-top: 90px;
  position: absolute;
  display: flex;
  border-radius: 20px;
}

.d-text2{
  margin-top: 250px;
  position: absolute;
  display: flex;
  width: 80px;
  margin-left: 40px;
  font-family: 'Roboto', sans-serif;
  color: rgb(100, 205, 237);
  font-weight: 500;
  width: 400px;
  font-size: 25px;
}

.image-d{
  position: absolute;
  display: flex;
  right: 90px;
  top: 35px;
  width: 550px;
  margin-top: 125px;
}